# Dependencies
node_modules/

# Environment
.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
mysql_data/

# Uploads (produksi)
public/uploads/*
!public/uploads/.gitkeep
